{% extends "main.html" %}

{% block content %}
    {%  if user.is_authenticated   %}
                 <li class="list-group-item"><a href="/addArticle"><span class="glyphicon glyphicon-pencil"></span> Добавить новую статью </a></li>
    {% endif %}
{% if articles_list %}
    <ul class="list-group">
    {% for article in articles_list %}
        <li class="list-group-item"><a href="{% url 'vkrm:detail_article' article.id %}">{{ article.article_name }}, {{ article.article_date }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Система не содержит статей.</p>
{% endif %}


{% endblock %}
