{% extends "main.html" %}
{% load epochal_extras %}

{% block detail %}
<h1>{{ greatdiscovery.discovery_name }}</h1>
<ul>
    <p><img src="{{ MEDIA_URL }}{{ greatdiscovery.discovery_image }}" width="20%" height="20%"/></p>

    <p><b> Год: </b> {% if greatdiscovery.discovery_year < 0 %} {{ greatdiscovery.discovery_year|negate }} г. до н.э. {% elif greatdiscovery.discovery_year >= 0 %} {{ greatdiscovery.discovery_year}} г. {% endif %} </p>
<p><b> Эпоха: </b> {{ greatdiscovery.age }} </p>
    <p><b> Описание: </b> {{ greatdiscovery.discovery_description }} </p>
</ul>

    <script type="text/javascript">
    $(function() {
    d3.selectAll("h1")
        .style("text-transform","uppercase")
        .style("text-decoration", "underline")
})
    </script>
{%  endblock %}
