{% extends "main.html" %}

{% block login %}
    <div id="login">
    <form class="form-signin" action="/login/" method="post">
    {% csrf_token %}
    <h2 class="form-signin-heading"> Вход на сайт</h2>
    <label for="username"></label>
    <input class="form-control" type="text" autofocus="" required="" placeholder="Имя пользователя" name="username" id="username">
    <label for="password"></label>
    <input class="form-control" type="password" required="" placeholder="Пароль" name="password" id="password">
    {% if login_error %}
        <label class="error">{{ login_error }}</label>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block btn-success" type="submit"> Войти</button>
    </form>
    <a class="btn btn-lg btn-primary btn-block btn-primary" href="/register/">Регистрация</a>
    </div>
    {% endblock %}
