{% extends "main.html" %}

{% block content %}
{% if wonder_list %}
    <ul class="list-group">
    {% for wonder in wonder_list %}
        <li class="list-group-item">
        <img src="{{ MEDIA_URL }}{{ wonder.wonder_image}}"  width=5% heigth=5% class="img-rounded">
            <a href="{% url 'vkrm:detail_wonder' wonder.id %}"><span>{{ wonder.wonder_name }}</span></a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет данных о достопримечательностях.</p>
{% endif %}
<script type="text/javascript">
    $(function() {
    d3.selectAll("span")
        .transition()
        .duration(1000)
        .style("font-size", "200%")
        .style("text-shadow","1.5px 1.5px #000000")
})
    </script>
{% endblock %}
